<div class="alert alert-info">
    <i class="icon-info-sign"></i>Olet Muokkaamassa hakulomakkeen {{applicationSystem | i18n:name}} kysymystä <b>{{element
    | i18n}}</b>.
</div>

<div class="row">
    <div class="col-md-6">

        <tabset>
            <tab ng-repeat="language in languages">
                <tab-heading>{{language | i18n}}</tab-heading>
                <hh-inputtext data-ng-model="element.i18nText.translations[language.id]"
                              label="question-title"></hh-inputtext>
                <hh-inputtext data-ng-model="element.help[language.id]" label="question-help"></hh-inputtext>
                <hh-inputtext data-ng-model="element.additionalHelp[language.id]"
                              label="question-additional-help"></hh-inputtext>
                <hh-inputlink data-ng-model="element.link[language.id]" label="question-link"></hh-inputlink>
            </tab>
        </tabset>
        <hr/>
        Rajoitteet ja tarkastukset
        <div ng-repeat="validator in element.validators">
            <div data-ng-include src="'partials/elements/edit/validator/' + validator._class.split('.').pop() + '.html'"></div>
        </div>
        <hr/>
        <div class="control-group">
            <label class="control-label">Tekstikentän koko</label>

            <div class="controls">
                <input type="number"  min="0" data-ng-model="question.length">
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="radio">
                        <input type="radio" data-ng-model="element.validators.format" value="numbers">Numeroita
                    </label>
                    <label class="radio">
                        <input type="radio" data-ng-model="element.validators.format" value="numberAndAlphabet">Kirjaimia ja numeroita
                    </label>
                    <label class="radio">
                        <input type="radio" data-ng-model="element.validators.format" value="characters">Kirjaimia, numeroita ja tavallisimpia erikoismerkkejä (-, !, ? &)
                    </label>
                </div>
            </div>

            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-ng-model="element.validators.required">Kysymys on hakijalle pakollinen
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <pre>{{element | json}}</pre>
    </div>
</div>



