<i class="glyphicon glyphicon-home hh-home-icon"></i> <a href="index.html#/applicationSystemForm">
    {{ t('hakulomakkeiden.hallinta') || 'Hakulomakkeiden hallinta' }}</a>
<span class="hh-bread-crumb-chevron"> > </span> <span tl="hakukohdekohtaiset.lisakysymykset">Hakukohdekohtaiset lisäkysymykset</span>

<alertmsg></alertmsg>

<h1>{{ t('hakukohdekohtaiset.lisakysymykset') || 'Hakukohdekohtaiset lisäkysymykset' }} ({{haunNimi}})</h1>
<loading-page></loading-page>

<user-organisation-select></user-organisation-select>

<br>
<hr>
<ng-include src="'partials/lisakysymykset/lisakysymyslista-teemakohtaisesti.html'"/>

