<div class="{{($parent.tree.inline) ? 'form-row' : 'form-item'}}">
    <label id="label-{{$parent.tree._id}}" for="{{$parent.tree._id}}" class="{{($parent.tree.inline) ? 'form-row' : 'form-item'}}-label">{{$parent.tree.i18nText.translations.fi}}</label>

    <div class="{{($parent.tree.inline) ? 'form-row' : 'form-item'}}-content">
        <select id="{{$parent.tree._id}}" data-ng-model="tmp" data-ng-options="a.i18nText.translations.fi for a in $parent.tree.options"></select>
        <errorMessage element="$parent.tree"/>
        <help element="$parent.tree"/>
    </div>
    <div class="clear"></div>
    <div ng-repeat="tree in $parent.tree.children">
        <div ng-include src="'partials/elements/' + tree._class.split('.').pop() + '.html'"></div>
    </div>
</div>



