<!--  <script type="text/ng&#45;template" id="items_renderer.html"> -->
<!--     <div ui&#45;nested&#45;sortable&#45;handle> -->
<!--       {{item | i18n}} -->
<!--       <a class="pull&#45;right btn btn&#45;danger btn&#45;xs" data&#45;nodrag ng&#45;click="remove(this)"><span class="glyphicon glyphicon&#45;remove"></span></a> -->
<!--       <a class="pull&#45;right btn btn&#45;primary btn&#45;xs" data&#45;nodrag ng&#45;click="newSubItem(this)"><span class="glyphicon glyphicon&#45;plus"></span></a> -->
<!--       <a class="pull&#45;right btn btn&#45;success btn&#45;xs" data&#45;nodrag ng&#45;click="toggle(this)" ng&#45;hide="item.items.length == 0"><span class="glyphicon" ng&#45;class="{'glyphicon&#45;chevron&#45;up': collapsed, 'glyphicon&#45;chevron&#45;down': !collapsed}"></span></a> -->
<!--     </div> -->
<!--     <ol ui&#45;nested&#45;sortable="options" ng&#45;model="item" ng&#45;class="{hidden: collapsed}"> -->
<!--       <li ng&#45;repeat="item in item.children" ui&#45;nested&#45;sortable&#45;item="" ng&#45;include="'items_renderer.html'"> -->
<!--       </li> -->
<!--     </ol> -->
<!--   </script> -->
<!--  -->
<!--  <div class="container" ng&#45;controller="sample1Ctrl"> -->
<!--     <div class="row"> -->
<!--       <div class="col&#45;lg&#45;6"> -->
<!--         <h3>Tree view -->
<!--           <a href="" class="btn btn&#45;default pull&#45;right" ng&#45;click="collapseAll()">Collapse all</a> -->
<!--           <a href="" class="btn btn&#45;default pull&#45;right" ng&#45;click="expandAll()">Expand all</a> -->
<!--         </h3> -->
<!--          -->
<!--         <ol ui&#45;nested&#45;sortable="options" ng&#45;model="item" id="nested&#45;sortable&#45;root"> -->
<!--           <li ng&#45;repeat="item in $parent.tree.form.children" ui&#45;nested&#45;sortable&#45;item="" ng&#45;include="'items_renderer.html'"></li> -->
<!--         </ol> -->
<!--       </div> -->
<!--  -->
<!--       <div class="col&#45;lg&#45;6"> -->
<!--         <h3>Data binding</h3> -->
<!--         <div class="info"> -->
<!--             {{info}} -->
<!--         </div> -->
<!--         <pre class="code">{{ $parent.tree.form | json }}</pre> -->
<!--       </div> -->
<!--     </div> -->
<!--  -->
<!--   </div> -->
<!--  -->
<script type="text/ng-template" id="TextQuestion">
TextQuestion
</script>

<script type="text/ng-template" id="element">
    {{element._class}}
</script>

<element-tree data-ng-model="$parent.tree.form.children"></element-tree>
<accordion data-ng-repeat="tree in $parent.tree.form.children">
        <accordion-group>
            <accordion-heading>
                <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                {{tree | i18n}} - vaihe
            </accordion-heading>
            <div ng-include src="'partials/elements/' + tree._class.split('.').pop() + '.html'" data-ng-init="parent = $parent.tree; index = parent.$index"></div>
        </accordion-group>
</accordion>
