<accordion data-ng-repeat="tree in applicationSystem.form.children">
        <accordion-group is-open="accordionStates[tree._id]">
            <accordion-heading>
                <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                {{tree | i18n}}
            </accordion-heading>
            <div data-ng-repeat="tree in $parent.tree.children" ng-include="'partials/elements/' + selectTemplate(tree._class) + '.html'" ></div>
        </accordion-group>
</accordion>