<accordion data-ng-repeat="tree in $parent.tree.form.children">
        <accordion-group>
            <accordion-heading>
                <i class="pull-left glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}"></i>
                {{tree | i18n}} - vaihe
            </accordion-heading>
            <div ng-include src="'partials/elements/' + tree._class.split('.').pop() + '.html'" data-ng-init="parent = $parent.tree; index = parent.$index"></div>
        </accordion-group>
</accordion>
