<div>
    <!--<div class="row">-->
        <div class="col-md-6">
            <tabset>
                <tab ng-repeat="language in languages">
                    <tab-heading>{{language | i18n}}</tab-heading>
                    <form role="form" >
                        <hh-inputtext data-ng-model="question.message.translations[language.id]" label="question-title"></hh-inputtext>
                        <hh-inputtext data-ng-model="question.verboseHelp.translations[language.id]" label="question-help"></hh-inputtext>
                        <hh-inputtext data-ng-model="question.additionalHelp.translations[language.id]" label="question-additional-help"></hh-inputtext>
                        <!--<hh-inputlink data-ng-model="question.additionalHelp.link[language.id]" label="question-link"></hh-inputlink>-->
                        <div>
                        <!--<div data-ng-show="question.type.OptionQuestion">-->
                            <!--<div class="checkbox">-->
                                <!--<input type="checkbox" data-ng-model="question.defaultValueAttribute">Oletusvalinta käyttöliittymäkielen mukaan-->
                            <!--</div>-->
                            <!--<a data-ng-click="showOptions=!showOptions">Vastausvaihtoehdot</a>-->
                            <!--<ul data-ng-show="showOptions">-->
                                <label> vastauksen vaihtoehdot </label> <i class="glyphicon glyphicon-plus" data-ng-click="addOption(question)"></i>
                                <div ng-repeat="option in question.options">
                                  <input type="checkbox">  <input type="text" data-ng-model="question.options[$index].option.translations[language.id]" >
                                    ({{question.options[$index].option.translations[language.id]}}) <i class="glyphicon glyphicon-trash"  data-ng-click="removeOption($index, question)"></i>
                                    <!--<span data-ng-show="option.defaultOption">Esivalittu</span>-->
                                </div>

                        </div>
                    </form>
                </tab>
            </tabset>

            <div class="control-group" data-ng-controller="QuestionCtrl">
                <hr/>
                <label>Rajoitteet ja tarkastukset</label>
                <!--<i class="glyphicon glyphicon-plus" data-ng-click="addValidator(question)"></i>-->
                <div ng-repeat="validator in validators">
                    <div data-ng-include="'partials/elements/edit/validators/' + validator+ '.html'"></div>
                </div>
                <hr/>
            </div>

            <div class="control-group">
                <div class="control-group" ng-include="'partials/elements/edit/type/' + question._class.split('.').pop() + '.html'">
                    Unimplemented template
                </div>
            </div>

            <div class="checkbox" data-ng-show="question.previewable !== 'undefined'">
                <input type="checkbox" data-ng-model="question.previewable">Esikatseltava
            </div>

        </div>
        <div class="col-md-6">
            <pre>{{question | without | json}}</pre>
        </div>
    </div>
</div>
