<fieldset class="{{($parent.tree.inline) ? 'form-row' : 'form-item'}}">

    <legend class="{{($parent.tree.inline) ? 'form-row' : 'form-item'}}-label {{$parent.tree.attributes['required']}}">
        {{$parent.tree.i18nText.translations.fi}}
    </legend>

    <div class="{{($parent.tree.inline) ? 'form-row' : 'form-item'}}-content">
        <help element="$parent.tree"/>
        <div ng-repeat="option in $parent.tree.options">
            <div class="field-container-radio">
                <input type="radio" name="{{option._id}}" id="{{option._id}}">
                <label for="{{option._id}}">
                    {{option.i18nText.translations.fi}}
                </label>
                <help element="option"/>
                <div ng-repeat="tree in $parent.tree.option">
                    <div ng-include src="'partials/elements/' + option._class.split('.').pop() + '.html'"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="clear"></div>
    <div ng-repeat="tree in $parent.tree.children">
        <div ng-include src="'partials/elements/' + tree._class.split('.').pop() + '.html'"></div>
    </div>
</fieldset>