<div class="{{($parent.tree.inline) ? 'form-row' : 'form-item'}}">
    <label id="label-{{$parent.tree._id}}" for="{{$parent.tree._id}}" class="{{($parent.tree.inline) ? 'form-row' : 'form-item'}}-label">{{$parent.tree.i18nText.translations.fi}}</label>

    <div class="{{($parent.tree.inline) ? 'form-row' : 'form-item'}}-content">
        <div class="field-container-text">
            <textarea id="{{$parent.tree._id}}" name="{{$parent.tree._id}}" ></textarea>
            <errorMessage element="$parent.tree"/>
        </div>
        <help element="$parent.tree"/>
    </div>
    <div class="clear"></div>
    <div ng-repeat="tree in $parent.tree.children">
        <div ng-include src="'partials/elements/' + tree._class.split('.').pop() + '.html'"></div>
    </div>
</div>
