<fieldset id="{{$parent.tree.id}}">
    <legend class="h3">
        {{$parent.tree.i18nText.translations.fi }}
    </legend>
    <hr/>
    <div class="theme-help">
        <div class="help-text">
            <help/>
        </div>
        <a href="${element.id}/help" target="_blank" class="helplink">?</a>

        <div class="clear"></div>
    </div>


    <div ng-repeat="tree in $parent.tree.children">
        <div ng-include src="'partials/elements/' + tree._class.split('.').pop() + '.html'"></div>
    </div>
</fieldset>





