<div data-ng-controller="HakulomakkeetListaCtrl">
    <br>
    <div>
        <input class="" type="text" data-ng-model="search" id="hakuKentta" size="52" style="height: 32px;" data-ng-change="setSearchToCookie()" >
    </div>
    <br>
    <user-organisation-select></user-organisation-select>
    <br>
    <div>
    <table class="table table-striped">
        <tr>
            <th>{{ t('hakulomake') || 'Hakulomake' }}</th>
            <th>{{ t('hakutyyppi') || 'Hakutyyppi' }}</th>
            <th>{{ t('tila') || 'Tila' }}</th>
            <th>{{ t('vuosi') || 'Vuosi' }}</th>
            <th>{{ t('hakukausi') || 'Hakukausi' }}</th>
            <th></th>
        </tr>
        <tr>

            <td>
                <select class="form-control" style="width: 140px;" type="select" ng-model="order">
                <option value=""></option>
                <option value="false" selected="selected">{{ t('jarjestys.ab') || 'Järjestys AB' }}</option>
                <option value="true">{{ t('jarjestys.ba') || 'Järjestys BA' }}</option>
                </select>
            </td>
            <td>
                <select class="form-control" style="width: 150px;" type="select" ng-model="hakutyyppi"
                        data-ng-options="hakut.translations[userLang] for hakut in hakutyypit">
                </select>
            </td>
            <td>
                <select class="form-control" style="width: 100px;" type="select" ng-model="st.status"
                        data-ng-options="sta.translations[userLang] for sta in statukset">
                    <option value=" ">--</option>
                </select>
            </td>
            <td>
                <select class="form-control" style="width: 70px;" type="select" ng-model="vuosi.year"
                        data-ng-options="v for v in vuodet">
                    <option value=" ">--</option>
                </select>
            </td>
            <td>
                <select class="form-control" style="width: 100px;" type="select" ng-model="kausi"
                        data-ng-options="kaus.translations[userLang] for kaus in kaudet">
                </select>
            </td>
            <td></td>
        </tr>
        <tr ng-repeat="applicationForm in applicationForms | filter:search | orderBy:'name.translations.fi':order | filter:hakutyyppi.type | filter:vuosi | filter:st | filter:kausi.period">

            <td>{{applicationForm | i18n:'name':userLang }}</td>
            <td>{{applicationForm.type | hakutyyppiNimi:hakutyypit:userLang}}</td>
            <td>{{applicationForm | i18n:'status':userLang }}</td>
            <td>{{applicationForm.year}}</td>
            <td>{{applicationForm.period | kausiNimi:kaudet:userLang}}</td>
            <td>
                <div class="dropdown pull-right">
                    <a class="dropdown-toggle">
                        <i class="hh-icon-menu"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a data-ng-if="!applicationForm.ataruFormKey"
                               data-ng-click="hakukohdeKohtaisetLisakysymykset(applicationForm)">
                                {{ t('hakukohdekohtaiset.lisakysymykset') || 'Hakukohdekohtaiset lisäkysymykset' }}
                            </a>
                            <a data-ng-if="applicationForm.ataruFormKey"
                               href="/lomake-editori/editor/{{applicationForm.ataruFormKey}}"
                               target="_blank">
                                {{ t('hakukohdekohtaiset.lisakysymykset') || 'Hakukohdekohtaiset lisäkysymykset' }}
                            </a>
                        </li>
                        <li>
                            <a data-ng-click="lomakepohjanAsetukset(applicationForm)">
                                {{ t('lomakepohjan.asetukset') || 'Lomakepohjan asetukset' }}
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>

    </table>
    </div>
</div>
