<div>

    <button type="button" class="btn btn-primary" data-ng-click="back()" data-ng-controller="BackCtrl">Takaisin</button>
    <button type="button" class="btn btn-primary" data-ng-controller="QuestionsCtrl" data-ng-click="addNewAdditionalQuestion(tree)">Tee hakukohdekohtaisi lisäkysymyksiä</button>
    <button type="button" class="btn btn-primary" data-ng-click="release(tree)">Julkaise</button>
    <h1>{{tree | i18n:'name'}}</h1>
    <!--<tabset>-->
        <!--<tab heading="Suomeksi">-->
            <!--<span data-ng-include="src='partials/elements/form.html'"></span>-->
        <!--</tab>-->
        <!--<tab heading="Ruotsiksi">-->
            <!--<span data-ng-include="src='partials/elements/form.html'"></span>-->
        <!--</tab>-->
    <!--</tabset>-->
    <span data-ng-include="src='partials/elements/form.html'"></span>
</div>
