<h3 class="text-info">Hakulomakkeet</h3>
<div class="alert alert-warning" data-ng-hide="accessRight">
    <i class="glyphicon glyphicon-warning-sign"></i> Ei riittäviä käyttöoikeuksia
</div>

<div class="form-group">
     <input type="text" data-ng-model="search" id="hakuKentta" placeholder="Hae" size="30" >
</div>
<!--<tabset>-->
    <!--<tab heading="Hakulomakkeet">-->
        <ng-include src="'partials/applicationSystemForms.html'"/>
    <!--</tab>-->
    <!--<tab heading="Mallipohjat">
        <ng-include src="'partials/formTemplates.html'"/>
    </tab>
</tabset>-->
