<div data-ng-controller="MallipohjatCtrl">
    <p>
        <a href="#" ng-click="changeLng('fi')">Suomi</a>
        <a href="#" ng-click="changeLng('en')">English</a><br>
    </p>
    <p>{{'applicationForms' | i18next}}</p>
    <div>
        <button class="btn btn-warning pull-left" ng-click="luoLomake()">Luo uusi lomake</button>
    </div>
    <table class="table table-striped">
        <tr ng-repeat="form in forms">
            <td><input type="checkbox" ng-click="toggleCheck(as)"/></td>
            <td>
                <button type="button" class="btn btn-default btn-lg"><i class="icon-tasks"></i></button>
            </td>
            <td>{{as.name}}</td>
        </tr>
    </table>
</div>