<div data-ng-controller="FormtemplatesCtrl">
    <div>
        <button class="btn btn-warning pull-left" ng-click="luoLomake()" data-ng-disabled="devFlag">Luo uusi mallipohja</button>
        <select class="pull-right form-control" style="width: 80px;" type="select" ng-model="order">
            <option value="false" selected="selected">A-Z</option>
            <option value="true">Z-A</option>
        </select>
    </div>

    <table class="table table-striped">
        <tr ng-repeat="form in forms | filter:search | orderBy:'name.translations.fi':order ">
            <td>
                <div class="dropdown">
                    <a class="dropdown-toggle">
                        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-tasks"></i></button>
                    </a>
                    <ul class="dropdown-menu">
                        <li data-ng-controller="BackCtrl" data-ng-click="goto(form)"><a>Tarkastele</a></li>
                        <li data-ng-click="copy(form, $index)"><a>Luo kopio</a></li>
                        <li data-ng-click="delete(form, $index)"><a>Poista</a></li>
                    </ul>
                </div>
            </td>
            <td><a href data-ng-click="goto(form)" data-ng-controller="BackCtrl">{{form | i18n:'name' }}</a></td>
        </tr>
    </table>
</div>
