<div data-ng-controller="MallipohjatCtrl">
    <div>
        <button class="btn btn-warning pull-left" ng-click="luoLomake()">Luo uusi mallipohja</button>
    </div>
    <table class="table table-striped">
        <tr ng-repeat="form in forms">
            <td>
                <div class="dropdown">
                    <a class="dropdown-toggle">
                        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-tasks"></i></button>
                    </a>
                    <ul class="dropdown-menu">
                        <li data-ng-controller="BackCtrl" data-ng-click="goto(form)"><a>Tarkastele</a></li>
                        <li data-ng-click="copy(form, $index)"><a>Luo kopio</a></li>
                        <li data-ng-click="delete(form, $index)"><a>Poista</a></li>
                    </ul>
                </div>
            </td>
            <td><a href data-ng-click="goto(form)" data-ng-controller="BackCtrl">{{form | i18n}}</a></td>
        </tr>
    </table>
</div>
