<div data-ng-controller="HakulomakkeetCtrl">
    <div>
        <button class="btn btn-warning pull-left" ng-click="open(applicationForm)" ng-disabled="!applicationForm">Tee
            hakukohdekohtaisia lisäkysymyksiä
        </button>
        <button class="btn btn-primary pull-right" ng-click="luoHakulomake()">Luo hakulomake</button>
        <button class="btn btn-primary pull-right" data-ng-disabled="!luolomake">Luo lomake</button>
    </div>
    <div class="clearfix"></div>
    <table class="table table-striped">
        <tr ng-repeat="applicationForm in applicationForms">
            <td><input type="radio" data-ng-model="$parent.applicationForm" data-ng-value="applicationForm"
                       name="applicationForm"></td>
            <td>
                <button type="button" class="btn btn-default btn-lg"><i class="icon-tasks"></i></button>
            </td>
            <td>{{applicationForm.name.translations.fi}}</td>
        </tr>
    </table>
    Valittu hakulomake: {{applicationForm}}
</div>