<i class="glyphicon glyphicon-home hh-home-icon"></i> <a href="index.html#/applicationSystemForm">
    {{ t('hakulomakkeiden.hallinta') || 'Hakulomakkeiden hallinta' }}</a>
<span class="hh-bread-crumb-chevron"> > </span> <span tl="lomakepohjan.asetukset">Lomakepohjan
    asetukset</span>
<h1>{{ t('lomakepohjan.asetukset') || 'Lomakepohjan asetukset'}} ({{applicationForm | i18n:'name':userLang }})</h1>

<user-organisation-select></user-organisation-select>

<alertmsg></alertmsg>

<div>
    <h2>{{ t('lomakepohjan.asetukset') || 'Lomakepohjan asetukset'}}</h2>
    <button class="btn pull-right" style="margin-top: -32px;" data-ng-click="vaihdaLomakepohja()"
            tl="vaihda.lomakepohja">Vaihda lomakepohja </button>
    <hr>

    <div class="hh-form-conf">
        <ul>
            <li>{{ t('haun.nimi') || 'Haun nimi' }}: {{applicationForm | i18n:'name':userLang }}</li>
            <li> {{ t('lomakepohja') || 'Lomakepohja' }}: {{ lomakepohja | i18n:'name':userLang }}</li>
        </ul>
    </div>
</div>

<div>
    <h2> {{ t('hakukohderyhmien.hakukohteiden.rajaus') || 'Hakukohderyhmien hakukohteiden rajaus'}}</h2>
    <button class="btn pull-right" style="margin-top: -32px;" data-ng-click="lisaaRyhmaanRajoite()"
            tl="lisaa.rajaus">Lisää rajaus</button>
    <hr>

    <div class="hh-form-conf">
        <ul data-ng-repeat="rajoiteRyhma in rajoiteRyhmat" class="hh-hakukohde">
            <li>
                <hakukohde-ryhma-info></hakukohde-ryhma-info>
            </li>
        </ul>
    </div>
</div>
