<loading-page></loading-page>
<i class="glyphicon glyphicon-home hh-home-icon"></i> <a href="index.html#/applicationSystemForm">
    {{ t('hakulomakkeiden.hallinta') || 'Hakulomakkeiden hallinta' }}</a>
<span class="hh-bread-crumb-chevron"> > </span> <span tl="lomakepohjan.asetukset">Lomakepohjan
    asetukset</span>
<h1>{{ t('lomakepohjan.asetukset') || 'Lomakepohjan asetukset'}} ({{applicationForm | i18n:'name':userLang }})</h1>

<user-organisation-select></user-organisation-select>

<alertmsg></alertmsg>

<div>
    <h2>{{ t('lomakepohjan.asetukset') || 'Lomakepohjan asetukset'}}</h2>
    <button class="btn pull-right" style="margin-top: -32px;" data-ng-click="vaihdaLomakepohja()"
            tl="vaihda.lomakepohja">Vaihda lomakepohja </button>
    <hr>

    <div class="hh-form-conf">
        <ul>
            <li>{{ t('haun.nimi') || 'Haun nimi' }}: {{applicationForm | i18n:'name':userLang }}</li>
            <li> {{ t('lomakepohja') || 'Lomakepohja' }}: {{ lomakepohja | i18n:'name':userLang }}</li>
        </ul>
    </div>
</div>

<div>
    <h2> {{ t('hallinnoi.lomakepohjan.saantoja') || 'Hallinnoi lomakepohjan sääntöjä' }} </h2>
    <hr>
    <div>
        <rajaavat-saannot
            application-form="applicationForm"
            rajoite-ryhmat="rajoiteRyhmat"
            lomakepohja="lomakepohja"
            user-lang="{{userLang}}">
            </rajaavat-saannot>

        <priorisoivat-saannot
            application-form="applicationForm"
            priorisointi-ryhmat="priorisointiRyhmat"
            lomakepohja="lomakepohja"
            user-lang="{{userLang}}">
            </priorisoivat-saannot>
    </div>

