<i class="glyphicon glyphicon-home hh-home-icon"></i> <a href="index.html#/applicationSystemForm">
    {{ t('hakulomakkeiden.hallinta') || 'Hakulomakkeiden hallinta' }}</a>
<span class="hh-bread-crumb-chevron"> > </span> <span tl="lomakepohjan.asetukset">Lomakepohjan
    asetukset</span>
<h1>{{ t('lomakepohjan.asetukset') || 'Lomakepohjan asetukset'}} ({{applicationForm | i18n:'name':userLang }})</h1>

<user-organisation-select></user-organisation-select>

<alertmsg></alertmsg>

<div>
    <h2>{{ t('lomakepohjan.asetukset') || 'Lomakepohjan asetukset'}}</h2>
    <button class="btn pull-right" style="margin-top: -32px;" data-ng-click="vaihdaLomakepohja()"
            tl="vaihda.lomakepohja">Vaihda lomakepohja </button>
    <hr>

    <div class="hh-form-conf">
        <ul>
            <li>{{ t('haun.nimi') || 'Haun nimi' }}: {{applicationForm | i18n:'name':userLang }}</li>
            <li> {{ t('lomakepohja') || 'Lomakepohja' }}: {{ lomakepohja | i18n:'name':userLang }}</li>
        </ul>
    </div>
</div>

<div>
    <h2> Hallinnoi lomakepohjan sääntöjä </h2>
    <hr>


    <div>
    <rajaavat-saannot application-form="applicationForm" rajoite-ryhmat="rajoiteRyhmat" lomakepohja="lomakepohja"></rajaavat-saannot>

    <div data-ng-if="priorisointiRyhmat.length > 0">
        <div class="hh-list-h3">
            <i data-ng-class="{'hh-icon-right':!naytaLista, 'hh-icon-down':naytaLista}" data-ng-click="toggleLista()" ></i>
            <a data-ng-click="toggleLista()"> {{ t('hakukohderyhmine.hakukohteiden.priorisointi') ||  'Priorisoivat hakukohderyhmät' }}

            </a>
            <div class="dropdown pull-right">
                <a class="dropdown-toggle">
                    <i class="hh-icon-menu"></i>
                </a>
                <ul class="dropdown-menu">
                    <li data-ng-click="lisaaRajoiteRyhma()">
                        <a>Lisää priorisointiryhmä lomakepohjan asetuksiin<i class="glyphicon glyphicon-plus"></i></a>
                    </li>
                    <li data-ng-click="lisaaRyhmaanRajoite()">
                        <a>Lisää rajaus <i class="glyphicon glyphicon-plus"></i></a>
                    </li>
                    <li data-ng-click="">
                        <a>Lisää priorisoiva ryhmä <i class="glyphicon glyphicon-plus"></i></a>
                    </li>
                    <li data-ng-click="lisaaHakulomakkeelleHakukohteidenPriorisointi()">
                        <a>Lisää priorisointi <i class="glyphicon glyphicon-plus"></i></a>
                    </li>
                </ul>
            </div>
        </div>

    <!--<h2>  </h2>
    <button class="btn pull-right" style="margin-top: -32px;"
            data-ng-click="lisaaHakulomakkeelleHakukohteidenPriorisointi()">
        Lisää priorisointi
    </button>
    <hr>-->

    <div class="hh-form-conf" style="padding-left: 30px;">
        <ul>
            <li data-ng-repeat="priorisointiRyhma in priorisointiRyhmat" class="hh-hakukohde">
                <priorisoiva-hakukohde-ryhma-info></priorisoiva-hakukohde-ryhma-info>
            </li>
        </ul>
    </div>
</div>

</div>

