<div class="form-group">
    <button type="button" class="btn" data-ng-click="back()"> <i class="glyphicon glyphicon-arrow-left"></i> </button>
    <!--<button type="button" class="btn" data-ng-click="sortQuestions()" data-ng-disabled="!sortQuestions || devFlag">Järjestä kysymykset</button>
    <button type="button" class="btn" data-ng-click="addRule()" data-ng-disabled="!addRule">  Lisää sääntö</button>-->

</div>
<div class="alert alert-info alert-block ">
    <i class="glyphicon glyphicon-info-sign"></i>
    Olet luomassa <b>{{applicationSystem | i18n : 'name'}}</b> hakulomakkeelle lisäkysymyksiä organisaatiolla
    <b>{{organization.nimi.fi}}</b>.
</div>

<div class="clearfix"></div>

<h3 class="text-info">Hakukohdekohtaiset lisäkysymykset</h3>

<div class="from-group">
    <accordion data-ng-repeat="theme in themes">
        <!--<accordion-group is-open="accordionStates[element._id]">-->
        <accordion-group is-open="isOpen">
            <accordion-heading>
                <button type="button" class=" btn btn-xs" data-ng-click="addQuestion(theme)">Lisää uusi kysymys <i class="glyphicon glyphicon-plus-sign"></i> </button>
                <i class="glyphicon" ng-class="{'glyphicon-chevron-down':isOpen, 'glyphicon-chevron-right': !isOpen }"></i>
                <!--<i class="glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen }"></i>-->
                {{theme.name.translations.fi}}

            </accordion-heading>
            <!--<div data-ng-repeat="question in element.additionalQuestions">-->
                <!--<a data-ng-click="muokkaaKysymysta(question)">{{question.messageText.translations.fi}} {{question.type | i18next}}</a>-->
                <!--<a data-ng-click="goTo(question)">{{question | i18n}}</a>-->
            </div>
        </accordion-group>
    </accordion>
</div>
