<div class="alert alert-info alert-block ">
    <i class="glyphicon glyphicon-info-sign"></i>
    <span data-ng-bind-html="t('olet.luomassa.lisakysymys.organisaatiolla', [ haunNimi, organisationNimi])"></span>
</div>
<alertmsg></alertmsg>

<back-nappi></back-nappi>

<h3 class="text-info" tl="hakukohdekohtaiset.lisakysymykset" >Hakukohdekohtaiset lisäkysymykset</h3>

<div class="from-group">
    <accordion data-ng-repeat="theme in themes">
        <accordion-group is-open="accordianState(theme)">
            <accordion-heading>
                <button type="button" class=" btn btn-xs" data-ng-click="addQuestion(theme)" >{{ t('lisaa.uusi.kysymys') || 'Lisää uusi kysymys' }} <i class="glyphicon glyphicon-plus-sign"></i> </button>
                <i class="glyphicon" ng-class="{'glyphicon-chevron-down': accordianState(theme), 'glyphicon-chevron-right': !accordianState(theme) }"></i>
                {{ theme | i18n:'name':userLang }}

            </accordion-heading>
            <table class="table table-striped table-hover" >
                <tr data-ng-repeat="question in theme.additionalQuestions">
                    <td>
                        <a data-ng-click="muokkaaKysymysta(question)">{{ question | i18n:'messageText':userLang }}</a>
                    </td>
                    <td>
                        {{question.type | i18next}} <span data-ng-if="question.options.length >0">({{ question.options.length }})</span>
                    </td>
                    <td>
                        {{ hakukohdeInfo() | hakukohdeNimi:userLang }}
                    </td>
                    <td>
                        fi, sv, en
                    </td>
                </tr>
            </table>
        </accordion-group>
    </accordion>
</div>
<br>

<back-nappi></back-nappi>
