<div class="form-group">

    <label>{{label}}
        <span data-ng-show="form.pvm.$error.date" class="label-warning-text">{{ t('pvm.format') || 'päivämäärän muoto pp.kk.yyyy' }}</span>
        <span data-ng-show="form.pvm.$error.checkday" class="label-warning-text">{{ t('pvm.check.day') || 'tarkista antamasi päivä' }}</span>
        <span data-ng-show="form.pvm.$error.checkmonth" class="label-warning-text">{{ t('pvm.check.month') || 'tarkista antamasi kuukausi' }}</span>
        <span data-ng-show="form.pvm.$error.checkyear" class="label-warning-text">{{ t('pvm.check.year') || 'tarkista antamasi vuosi' }}</span>
        <span data-ng-show="form.pvm.$error.maxdate" class="label-warning-text">{{ t('pvm.check.plus.year') || 'annettu pvm. enemmän kuin vuosi eteenpäin tästäpäivästä' }} </span>
        <span data-ng-show="form.pvm.$error.mindate" class="label-warning-text">{{ t('pvm.check.toosmall.date') || 'annettu pvm. pienempi kuin tämäpäivä' }}</span>
        <span data-ng-show="form.klo.$error.pattern && datetime" class="label-warning-text">{{ t('klo.check.format') || 'tarkista antamasi kellonaika' }} </span>
    </label>
    <div>
        {{ t('pvm') || 'pvm.'}}
        <input
                datepicker-fix
                is-open="datePicOpen"
                name="pvm"
                type="text"
                datepicker-popup="dd.MM.yyyy"
                data-ng-model="date"
                datepicker-options="{'starting-day':1}"
                data-ng-required="isRequired"
                current-text="{{t('datepicker.today')}}"
                toggle-weeks-text="{{t('datepicker.weeks')}}"
                clear-text="{{t('datepicker.clear')}}"
                close-text="{{t('datepicker.close')}}"
                min-date="tanaan"
                max-date="vuosi"
                style="width:110px; height: 34px; font-size: 14px;"
                data-ng-click="openDatePicker()">

        <i class="glyphicon glyphicon-calendar glyphicon-inside-input-right"
           data-ng-click="openDatePicker()"></i>
        &nbsp;&nbsp;
        {{ t('klo') || 'klo' }} <input
            name="klo"
        type="text"
        data-ng-model="time"
            placeholder="--:--"
            ng-pattern="/^(([0-1][0-9])|([2][0-3]))[:]([0-5][0-9])$/"
            style="width: 70px; height: 34px; font-size: 14px;" >
        <i class="glyphicon glyphicon-time glyphicon-inside-input-right" ></i>
    </div>
</div>
