<div>
    <br>
    <a data-ng-show="!hasLiitepyynto(option)" data-ng-click="addAppendixRequest(hakukohde, option, question)">{{ t('lisaa.liitepyynto') || 'Lisää liitepyyntö' }} <i class="glyphicon glyphicon-plus"></i> </a>
    <a data-ng-show="hasLiitepyynto(option)" data-ng-click="modifyAppendixRequest(option, question)">{{ t('muokkaa.liitepyyntoa') || 'Muokkaa liitepyyntö' }} <i class="glyphicon glyphicon-edit"></i> </a>
    <a data-ng-show="hasLiitepyynto(option)" data-ng-click="removeAppendixRequest(option)">{{ t('poista.liitepyynto') || 'Poista liitepyyntö' }} <i class="glyphicon glyphicon-remove"></i> </a>
</div>
