<div class="hh-kysymys">

    <div>
        <div data-ng-show="!sortBtns" style="width: 12px; display: inline-block;">
            {{question.ordinal}}
        </div>

        <div style="width: 70px; text-align: center; display: inline-block;" data-ng-show="!sortBtns">
            <button class="btn btn-xs" data-ng-disabled="sortBtns || $first" data-ng-click="up($index)">
                <i class="glyphicon glyphicon-chevron-up"></i>
            </button>
            <button class="btn btn-xs" data-ng-disabled="sortBtns || $last" data-ng-click="down($index)">
                <i class="glyphicon glyphicon-chevron-down"></i>
            </button>
        </div>

        <i data-ng-class="{'hh-icon-right':!naytaKysymysLista, 'hh-icon-down':naytaKysymysLista}" data-ng-click="toggleNaytaKysymykset()"
                data-ng-show="question.questions.length > 0 || question.type !== 'TextQuestion'" ></i> 
        <i class="hh-icon-empty" data-ng-show="!question.questions.length > 0 && question.type === 'TextQuestion'"></i>
        <a data-ng-click="toggleNaytaKysymykset()"
           data-ng-disabled="!question.options || !question.questions" >{{ question | i18n:'messageText':userLang | stripTags | truncate: 100: '...'}}
            <i class="icon"
               data-ng-class="{'icon-edit':question.type ==='TextQuestion', 'icon-dot-circled':question.type ==='RadioButton', 'icon-check':question.type ==='CheckBox', 'fa fa-info-circle':question.type === 'RichText'}">
            </i>
        </a>

        <input data-ng-if="logs" type="checkbox" data-ng-model="showJson" >

        <div class="dropdown pull-right" data-ng-show="sortBtns">
            <a class="dropdown-toggle">
                <i class="hh-icon-menu"></i>
            </a>
            <ul class="dropdown-menu menu-inside-tree">
                <li data-ng-click="muokkaaKysymysta(question, sortBtns)">
                    <a>{{ t('muokkaa') || 'Muokkaa' }} <i class="glyphicon glyphicon-edit"></i></a>
                </li>
                <li data-ng-hide="question.parentId !== undefined" data-ng-click="lisaaJatkokysymys(hakukohde.additionalQuestions, hakukohde, theme, question)">
                    <a>{{ t('lisaa.jatkokysymys') || 'Lisää jatkokysymys' }} <i
                            class="glyphicon glyphicon-plus"></i></a>
                </li>
                <li data-ng-click="poistaKysymys(question, hakukohde.additionalQuestions)">
                    <a>{{ t('poista') || 'Poista' }}<i class="glyphicon glyphicon-remove"></i></a>
                </li>
            </ul>
        </div>
    </div>

    <pre data-ng-show="showJson">{{question | without | json}}</pre>
</div>