<div>
    <div class="hh-list-h3">
        <i data-ng-class="{'hh-icon-right':!naytaLista(), 'hh-icon-down':naytaLista()}" data-ng-click="toggleLista()"></i>
        <a data-ng-if="ryhmaTyyppi == 'hakukohde_rajaava'" data-ng-click="toggleLista()"> {{ t('hakukohderyhmien.hakukohteiden.rajaus') || 'Rajaavat hakukohderyhmät'}}</a>
        <a data-ng-if="ryhmaTyyppi == 'hakukohde_priorisoiva'" data-ng-click="toggleLista()"> {{ t('hakukohderyhmine.hakukohteiden.priorisointi') ||  'Priorisoivat hakukohderyhmät' }}</a>

        <div class="dropdown pull-right">
            <a class="dropdown-toggle">
                <i class="hh-icon-menu"></i>
            </a>
            <ul class="dropdown-menu">
                <li data-ng-click="lisaaRyhmaAsetuksiin()">
                    <a>{{ t('lisaa.ryhma.asetuksiin') || 'Lisää ryhmä asetuksiin' }} <i class="glyphicon glyphicon-plus"></i></a>
                </li>

                <li data-ng-click="lisaaRyhmaOrganisaatioPalveluun(ryhmaTyyppi)">
                    <a>{{ t('lisaa.ryhma') || 'Lisää ryhmä' }} <i class="glyphicon glyphicon-plus"></i></a>
                </li>
            </ul>
        </div>
    </div>

    <div class="hh-form-conf" style="padding-left: 30px;" data-ng-show="naytaLista()">
        <ul>
            <li data-ng-repeat="ryhma in ryhmat" class="hh-hakukohde">
                <hakukohde-ryhma-info ryhma="ryhma"
                                      ryhmat="ryhmat"
                                      application-form="applicationForm"
                                      lomakepohja="lomakepohja"
                                      ryhma-tyyppi="{{ryhmaTyyppi}}"
                                      user-lang="{{userLang}}">
                </hakukohde-ryhma-info>
            </li>
        </ul>
    </div>
</div>