<form class="modal-dialog-border" role="form">
    <div class="modal-header">
        <h4>Lisää ryhmä</h4>
    </div>

    <div class="modal-body">
        Tämä on keskeneräinen ominaisuus <br>
        Tartteen tietoa organisaatio palvelusta <br>
        Käyttö tarkoitus: {{kayttoTarkoitus}} {{organisaatioOid}}
    </div>

    <div class="modal-footer">
        <button class="btn" ng-click="cancel()" tl="peruuta">Peruuta</button>
        <button class="btn btn-primary" data-ng-click="" tl="tallenna" disabled>Talenna</button>
    </div>
</form>
