<form class="modal-dialog-border" role="form" >
    <div class="modal-header">
        <h4 tl="uusi.hakumuslomake">Uusi hakemuslomake</h4>
    </div>
    <div class="modal-body">

        <div>
            <alertmsg></alertmsg>
            <div class="form-inline">

                <select class="form-control" style="width: 70px;" type="select" ng-model="hakuvuosi"
                        data-ng-options="v for v in valittavatVuodet">
                    <option value="" disabled>{{ t('vuosi') || 'Vuosi' }}</option>
                </select>

                <select class="form-control" style="width: 100px;" type="select" ng-model="hakukausi"
                        data-ng-options="kausi.translations[userLang] for kausi in kaudet"
                        data-ng-disabled="!hakuvuosi">
                    <option value="" disabled>{{ t('hakukausi') || 'Hakukausi' }}</option>
                </select>

                <select class="form-control" style="width: 150px;" type="select" ng-model="hakutyyppi"
                        data-ng-options="hakutype.translations[userLang] for hakutype in hakutyypit"
                        data-ng-disabled="!hakukausi">
                    <option value="" disabled>{{ t('hakutyyppi') || 'Hakutyyppi' }}</option>
                </select>

                <loading style="vertical-align: middle; display: inline-block;"></loading>

                <button class="btn btn-primary pull-right" data-ng-click="haeHaut()"
                        data-ng-disabled="!hakutyyppi">{{ t('hea.haut') || 'Hae haut' }}</button>

                </div>

            <br>
            <label>{{ t('haku') || 'Haku' }}</label>
            <select class="form-control" name="haku" id="kauku" ng-model="haku"
                    ng-options="haku | haunNimi:userLang for haku in haut"
                    data-ng-disabled="!haut.length > 0"
                    data-ng-change="haeDefaultLomakepohja()">
                <option value="" disabled>{{ t('valitse.haku') || 'Valitse haku' }}</option>
            </select>

            <br>
            <label>{{ t('lomakepohja') || 'Lomakepohja' }}</label>
            <select class="form-control" name="lomakepohja" id="lomakepohja" ng-model="lomakepohja"
                    ng-options="pohja | i18n:'name':userLang for pohja in lomakepohjat"
                    data-ng-disabled="!haku">
                <option value="">{{ t('valitse.lomakepohja') || 'Valitse lomakepohja' }}</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <div class="form-group pull-right">
            <button class="btn btn-warning pull-left" ng-click="cancel()" tl="peruuta">Peruuta</button>
            <button class="btn btn-primary pull-right" ng-click="tallennaLiitahakuLomakepohjaan()" data-ng-disabled="!haku" tl="tallenna">
                Tallenna
            </button>
        </div>
    </div>
</form>
