<form class="modal-dialog-border" role="form">
    <div class="modal-header">
        <h4>Aseta prioriteetit</h4>
    </div>


    <div class="modal-body">

        <h1>{{applicationForm | i18n:'name':userLang }}</h1>

        <alertmsg></alertmsg>

        <div data-ng-repeat="(level, hakukohdeRyhma) in hakukohteet">
            <h4>Prioriteetti: {{level}}</h4>
            <div class="hh-form-conf">
                <ul data-ng-repeat="hakukohde in hakukohdeRyhma" class="hh-hakukohde">
                    <li class="hh-hakukohde">
                        <button class="btn btn-xs glyphicon glyphicon-chevron-up" data-ng-click="movePriorityUp(hakukohde)"></button>
                        <button class="btn btn-xs glyphicon glyphicon-chevron-down" data-ng-click="movePriorityDown(hakukohde)"></button>
                        {{ hakukohde | hakukohdeNimi:userLang}} : {{ hakukohde.tarjoaja | organisaatioNimi:userLang }}
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="modal-footer">
        <div class="form-group pull-right">
            <button class="btn " ng-click="cancel()" tl="peruuta">Peruuta</button>
            <button class="btn btn-primary" data-ng-click="tallennaPrioriteetit()"
                    tl="tallenna">Tallenna</button>
        </div>
    </div>
</form>
