<form class="modal-dialog-border" role="form">
    <div class="modal-header">
        <h4 tl="muokkaa.hakukohteiden.prioriteetteja">Muokkaa hakukohteiden prioriteetteja</h4>
    </div>


    <div class="modal-body">

        <h1>{{applicationForm | i18n:'name':userLang }}</h1>

        <alertmsg></alertmsg>
        <a data-ng-click="lisaaPrioriteetti()">{{ t('lisaa.prioriteetti') || 'Lisää prioriteetti' }} <i class="glyphicon glyphicon-plus"></i></a>
        <div data-ng-repeat="(priority, prioriteettiHakukohdeRyhma) in hakukohteet" >

            <div style="border: solid #b7b7b7 1px; padding: 5px; margin: 5px 0;">
                <h4 data-ng-if="priority !== 'priorityundefined'">{{ t('prioriteetti') || 'Prioriteetti' }}: {{priority}}</h4>
                <h4 data-ng-if="priority === 'priorityundefined'">{{ t('ei.asetettua.prioriteettia') || 'Ei asetettua prioriteettiä' }}</h4>
                <div style="width: auto; font-size: 14px; font-weight: bold;">
                    <div style="width: 8%; display: inline-block; vertical-align: top;"></div>
                    <div style="width: 44%; display: inline-block;">
                        {{ t('hakukohde') || 'Hakukohde' }}
                    </div>
                    <div style="width: 44%; display: inline-block;">
                        {{ t('hakukohteen.tarjoaja') || 'Hakukohteen tarjoaja' }}
                    </div>
                </div>
                <div class="hh-form-conf">

                    <ul data-ng-repeat="hakukohde in prioriteettiHakukohdeRyhma" class="hh-hakukohde">
                        <li class="hh-hakukohde">

                            <div style="width: auto; background-color: #F5F5F5;">
                                <div style="width: 8%; display: inline-block; vertical-align: top;">
                                    <button class="btn btn-xs glyphicon glyphicon-chevron-up"
                                            data-ng-disabled="priority === '1'"
                                            data-ng-click="movePriorityUp(hakukohde, priority)">
                                    </button>
                                    <button class="btn btn-xs glyphicon glyphicon-chevron-down"
                                            data-ng-disabled="priority === 'priorityundefined'"
                                            data-ng-click="movePriorityDown(hakukohde, priority)">
                                    </button>
                                </div>
                                <div style="width: 44%; display: inline-block; vertical-align: top;">
                                    {{ hakukohde | hakukohdeNimi:userLang }}
                                </div>
                                <div style="width: 44%; display: inline-block; vertical-align: top;">
                                    {{ hakukohde.tarjoaja | organisaatioNimi:userLang }}
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>


    </div>

    <div class="modal-footer">
        <div class="form-group pull-right">
            <button class="btn " ng-click="cancel()" tl="peruuta">Peruuta</button>
            <button class="btn btn-primary"
                    data-ng-disabled="!autentikoitu"
                    data-ng-click="tallennaPrioriteetit()"
                    tl="tallenna">Tallenna</button>
        </div>
    </div>
</form>
