<form class="modal-dialog-border" role="form">
    <div class="modal-header">
        <h4>Vaihda lomakepohja</h4>
    </div>


    <div class="modal-body">
        <alertmsg></alertmsg>
        <h1>{{applicationForm | i18n:'name':userLang }}</h1>

        <label>{{ t('lomakepohja') || 'Lomakepohja' }}</label>
        <select class="form-control" name="lomakepohja" ng-model="lomakepohja"
                ng-options="pohja | i18n:'name':userLang for pohja in lomakepohjat">
            <option value="" disabled>{{ t('valitse.lomakepohja') || 'Valitse lomakepohja' }}</option>
        </select>

    </div>

    <div class="modal-footer">
        <div class="form-group pull-right">
            <button class="btn " ng-click="cancel()" tl="peruuta">Peruuta</button>
            <button class="btn btn-primary" data-ng-click="vaihdaLomakepohja()"
                    data-ng-disabled="!lomakepohja"  tl="tallenna">Tallenna</button>
        </div>
    </div>
</form>
