<form name="liiteryhmanOsoiteForm">
    <div class="form-group" >
        <label>{{ t('liitteen.toimitusosoite') || 'Liitteen toimitusosoite' }} </label>
    </div>
    <osoite address="hakukohderyhmanOsoite.address"
            user-lang="{{userLang}}"
            >
    </osoite>

    <datetime
            label="{{ t('toimitettava.menessa') || 'Toimitettava mennessä' }}"
            datetime="hakukohderyhmanOsoite.deliveryDue"
            >
    </datetime>
    <div class="form-group">
        <button class="btn btn-primary"
                type="submit"
                data-ng-click="tallennaHakukohderyhmanOsoite(liiteryhmanOsoiteForm)"
                data-ng-disabled="!liiteryhmanOsoiteForm.$valid || liiteryhmanOsoiteForm.$pristine"
                tl="tallenna">Tallenna
        </button>
    </div>
</form>
