<form class="modal-dialog-border" role="form" name="$parent.liitepyyntoDialog" >
    <div class="modal-header">
        <h4 tl="liitepyynto">Liitepyyntö</h4>
    </div>
    <div class="modal-body">
        <div>
            <tabset>
                <tab ng-repeat="language in languages | orderBy:'order':false " >
                    <tab-heading>{{ language | languageTab:userLang }}</tab-heading>
                    <div style="background-color: #f5f5f5;">
                        <br>
                        <div class="form-group">
                            <label for="liitenimi">{{ t('liitteen.nimi') || 'Liitteen nimi *' }}
                                <span data-ng-show="liitepyyntoDialog.liitenimi.$error.required && lisaaCliked" class="label-warning-text">{{ t('pakollinen') || 'Pakollinen' }}</span>
                            </label>
                            <input name="liitenimi" type="text" class="form-control" data-ng-model="attachmentRequest.header.translations[language.id]" data-ng-required="tarkista()" >
                        </div>
                        <div class="form-group">
                            <label for="liitteenkuvaus">{{ t('liitteen.kuvaus') || 'Kuvaus' }}</label>
                            <textarea name="liitteenkuvaus" class="form-control" data-ng-model="attachmentRequest.description.translations[language.id]" rows="4"></textarea>
                        </div>
                        <br>
                    </div>
                </tab>
            </tabset>


            <datetime
                label="{{ t('toimitettava.menessa') || 'Toimitettava mennessä *' }}"
                datetime="attachmentRequest.deliveryDue"
                required="true"
            >
            </datetime>

            <div class="form-group" >
                <label>{{ t('liitteen.toimitusosoite') || 'Liitteen toimitusosoite' }} </label>
            </div>

            <osoite
                address="attachmentRequest.deliveryAddress"
                user-lang="{{userLang}}"
                disabled="false"
                require-recipient="false"
                no-prefill="false"
            >
            </osoite>

        </div>
        <alertmsg></alertmsg>
        </div>
    <div class="modal-footer">
            <div class="form-group pull-right">
                <button class="btn btn-warning pull-left" ng-click="cancel()" tl="peruuta">Peruuta</button>
                <button class="btn btn-primary pull-right" data-ng-hide="modify" data-ng-disabled="!liitepyyntoDialog.$valid" data-ng-click="tallennaLiitepyynto(liitepyyntoDialog.$valid)" tl="lisaa.liitepyynto">Lisää liitepyyntö</button>
                <button class="btn btn-primary pull-right" data-ng-show="modify" data-ng-disabled="!liitepyyntoDialog.$valid" data-ng-click="tallennaLiitepyynto(liitepyyntoDialog.$valid)" tl="tallenna">Tallenna</button>
            </div>
        </div>
</form>
