<div>
    <div class="hh-list-h4">
        <i class="glyphicon" data-ng-class="{'hh-icon-right':!naytaHakukohdeLista, 'hh-icon-down':naytaHakukohdeLista}"
           data-ng-click="toggleNaytaHakukohteet()"></i>
        <a data-ng-click="toggleNaytaHakukohteet()">
            <!--TODO: tarkista configuration.maximumNumberOf kun backed tukee tätä-->
            {{hakukohdeRyhma | hakukohdeNimi:userLang}} : hakukohteiden valinnan  maksimimäärä ({{rajoiteRyhma.configurations.maximumNumberOf}})
        </a>


        <div class="dropdown pull-right">
            <a class="dropdown-toggle">
                <i class="hh-icon-menu"></i>
            </a>
            <ul class="dropdown-menu">
                <li data-ng-click="asetaRyhmaanRajoite()">
                    <a>Aseta rajaus <i class="glyphicon glyphicon-cog"></i></a>
                </li>
                <li data-ng-click="lisaaHakukohdeRyhmaan(hakukohdeRyhma)">
                    <a>{{ t('lisaa.hakukohde') || 'Lisää hakukohde' }} <i class="glyphicon glyphicon-plus"></i></a>
                </li>
                <li data-ng-click="poistaHakukohderyhma({hakukohdeRyhma:hakukohdeRyhma}, {rajoiteRyhma:rajoiteRyhma})">
                    <a>{{ t('poista') || 'Poista' }}<i class="glyphicon glyphicon-remove"></i></a>
                </li>
            </ul>
        </div>
        <div style="width: auto; font-size: 12px; font-style: normal;" data-ng-show="naytaHakukohdeLista">
            <div style="width: 48%; display: inline-block; padding-left: 30px;">
                Hakukohde ({{hakukohteidenMaara}})
            </div>
            <div style="width: 48%; display: inline-block; padding-left: 16px;">
                Hakukohteen tarjoaja
            </div>
        </div>
    </div>
    <div data-ng-show="naytaHakukohdeLista">
        <ul>
            <li data-ng-repeat="hakukohde in hakukohteet" class="hh-hakukohde" >
                <div class="dropdown pull-right">
                        <a class="dropdown-toggle">
                            <i class="hh-icon-menu"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li data-ng-click="poistaHakukohdeRyhmasta(hakukohdeRyhma, hakukohde)">
                                <a>{{ t('poista') || 'Poista' }}<i class="glyphicon glyphicon-remove"></i></a>
                            </li>
                        </ul>
                    </div>
                <div style="width: auto;">
                    <div style="width: 48%; display: inline-block; vertical-align: top;">
                        {{ hakukohde | hakukohdeNimi:userLang }}
                    </div>
                    <div style="width: 48%; display: inline-block; vertical-align: top;">
                        {{hakukohde.tarjoaja | organisaatioNimi:userLang}}
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>