<div>
    <div class="hh-list-h3">
        <i class="glyphicon" data-ng-class="{'hh-icon-right':!naytaHakukohdeLista, 'hh-icon-down':naytaHakukohdeLista}"
           data-ng-click="toggleNaytaHakukohteet()"></i>
        <a data-ng-click="toggleNaytaHakukohteet()">
            {{hakukohdeRyhma | hakukohdeNimi:userLang}} : {{rajoiteRyhma.configuration.maxSelection}}
        </a>

        <div class="dropdown pull-right">
            <a class="dropdown-toggle">
                <i class="hh-icon-menu"></i>
            </a>
            <ul class="dropdown-menu">
                <li data-ng-click="muokkaRyhmanRajoitetta(hakukohdeRyhma, rajoiteRyhma)">
                    <a>{{ t('muokkaa') || 'Muokkaa' }} <i class="glyphicon glyphicon-edit"></i></a>
                </li>
                <li data-ng-click="poistaRyhmaRajoite(hakukohdeRyhma, rajoiteRyhma)">
                    <a>{{ t('poista') || 'Poista' }}<i class="glyphicon glyphicon-remove"></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div data-ng-show="naytaHakukohdeLista">
    <ul data-ng-repeat="hakukohde in hakukohteet" class="hh-hakukohde">
        <li>{{ hakukohde | hakukohdeNimi:userLang }}</li>
    </ul>
    </div>
</div>