<div>
    <div style="width: 12px;">
        {{question.ordinal}}
    </div>

    <div class="dropdown" data-ng-show="sortBtns">
        <a class="dropdown-toggle">
            <i class="hh-icon-menu"></i>
        </a>
        <ul class="dropdown-menu">
            <li data-ng-click="muokkaaKysymysta(question, sortBtns)"><a>{{ t('muokkaa') || 'Muokkaa' }} <i class="glyphicon glyphicon-edit"></i></a></li>
            <li data-ng-click="addQuestion(theme)"><a>{{ t('lisaa.uusi.kysymys') || 'Lisää uusi kysymys' }} <i class="glyphicon glyphicon-plus"></i></a></li>
            <li data-ng-click="lisaaSaanto(hakukohde.additionalQuestions)" ><a>{{ t('lisaa.saanto') || 'Lisää sääntö' }} <i class="glyphicon glyphicon-plus"></i></a></li>
            <li data-ng-click="poistaKysymys(question, hakukohde.additionalQuestions)"><a>{{ t('poista') || 'Poista' }}<i class="glyphicon glyphicon-remove"></i></a></li>
        </ul>
    </div>

    <div style="width: 70px; text-align: center;" data-ng-show="!sortBtns">
        <button class="btn btn-xs" data-ng-disabled="sortBtns || $first" data-ng-click="up($index)"><i class="glyphicon glyphicon-chevron-up"></i> </button>
        <button class="btn btn-xs" data-ng-disabled="sortBtns || $last" data-ng-click="down($index)"><i class="glyphicon glyphicon-chevron-down"></i></button>
    </div>

    <div style="width: 340px;">
        <a data-ng-click="toggleNaytaVastaukset()" data-ng-disabled="!question.options" >{{ question | i18n:'messageText':userLang}}
            <i class="icon" data-ng-class="{'icon-edit':question.type ==='TextQuestion', 'icon-dot-circled':question.type ==='RadioButton', 'icon-check':question.type ==='CheckBox'}" ></i>
            <i class="glyphicon"
               ng-class="{'glyphicon-chevron-down': naytaVastaukset, 'glyphicon-chevron-right': !naytaVastukset }"
               data-ng-show="question.options"> </i>
        </a>
    </div>
</div>