<div>
    <div class="hh-list-h4">
        <i class="glyphicon" data-ng-class="{'hh-icon-right':!naytaHakukohdeLista, 'hh-icon-down':naytaHakukohdeLista}"
           data-ng-click="toggleNaytaHakukohteet()"></i>
        <a data-ng-click="toggleNaytaHakukohteet()">
            {{priorisointiRyhma | hakukohdeNimi:userLang}}
        </a>

        <div class="dropdown pull-right">
            <a class="dropdown-toggle">
                <i class="hh-icon-menu"></i>
            </a>
            <ul class="dropdown-menu">
                <li data-ng-click="muokkaaPrioriteetteja()">
                    <a>{{ t('muokkaa.prioriteetteja') || 'Muokkaa prioriteetteja' }} <i class="glyphicon glyphicon-edit"></i></a>
                </li>
                <li data-ng-click="lisaaHakukohdeRyhmaan(priorisointiRyhma)">
                    <a>{{ t('lisaa.hakukohde') || 'Lisää hakukohde' }} <i class="glyphicon glyphicon-plus"></i></a>
                </li>
                <li data-ng-click="poistaPriorisoivaHakukohderyhma(priorisointiRyhma)">
                    <a>{{ t('poista') || 'Poista' }} <i class="glyphicon glyphicon-remove"></i></a>
                </li>
            </ul>
        </div>
        <div style="width: auto; font-size: 14px; font-style: normal;" data-ng-show="naytaHakukohdeLista">
            <div style="width: 48%; display: inline-block; padding-left: 30px;">
                {{ t('hakukohde') || 'Hakukohde' }} ({{hakukohteidenMaara}})
            </div>
            <div style="width: 48%; display: inline-block; padding-left: 16px;">
                {{ t('hakukohteen.tarjoaja') || 'Hakukohteen tarjoaja' }}
            </div>
        </div>
    </div>
    <div data-ng-show="naytaHakukohdeLista">
        <div data-ng-repeat="(level, prioriteettiRyhma) in hakukohteet">
            <span data-ng-if="level === 'priorityundefined'" style="font-size: 14px; font-weight: bold; padding-left: 30px;">Ei asetettua prioriteettia </span>
            <span data-ng-if="level !== 'priorityundefined'" style="font-size: 14px; font-weight: bold; padding-left: 30px;">{{ t('prioriteetti') || 'Prioriteetti' }}: {{level}}</span>
            <ul>
                <li data-ng-repeat="hakukohde in prioriteettiRyhma" class="hh-hakukohde">
                    <div class="dropdown pull-right">
                        <a class="dropdown-toggle">
                            <i class="hh-icon-menu"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li data-ng-click="poistaHakukohdeRyhmasta(priorisointiRyhma, hakukohde)">
                                <a>{{ t('poista') || 'Poista' }}<i class="glyphicon glyphicon-remove"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div style="width: auto;">
                        <div style="width: 48%; display: inline-block; vertical-align: top;">
                            {{ hakukohde | hakukohdeNimi:userLang }}
                        </div>
                        <div style="width: 48%; display: inline-block; vertical-align: top;">
                            {{ hakukohde.tarjoaja | organisaatioNimi:userLang }}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>