<div>
    <div class="hh-list-h3">
        <i data-ng-class="{'hh-icon-right':!naytaLista, 'hh-icon-down':naytaLista}" data-ng-click="toggleLista()" ></i>
        <a data-ng-click="toggleLista()"> {{ t('hakukohderyhmine.hakukohteiden.priorisointi') ||  'Priorisoivat hakukohderyhmät' }}

        </a>
        <div class="dropdown pull-right">
            <a class="dropdown-toggle">
                <i class="hh-icon-menu"></i>
            </a>
            <ul class="dropdown-menu">
                <li data-ng-click="lisaaRyhmaAsetuksiin()">
                    <a>Lisää ryhmä asetuksiin<i class="glyphicon glyphicon-plus"></i></a>
                </li>

                <li data-ng-click="lisaaRyhmaOrganisaatioPalveluun('hakukohde_priorisoiva')">
                    <a>Lisää ryhmä organisaatioon <i class="glyphicon glyphicon-plus"></i></a>
                </li>
                <!--<li data-ng-click="lisaaRajoiteRyhma()">
                    <a>Lisää priorisointiryhmä lomakepohjan asetuksiin<i class="glyphicon glyphicon-plus"></i></a>
                </li>
                <li data-ng-click="lisaaRyhmaanRajoite()">
                    <a>Lisää rajaus <i class="glyphicon glyphicon-plus"></i></a>
                </li>
                <li data-ng-click="">
                    <a>Lisää priorisoiva ryhmä <i class="glyphicon glyphicon-plus"></i></a>
                </li>
                <li data-ng-click="lisaaHakulomakkeelleHakukohteidenPriorisointi()">
                    <a>Lisää priorisointi <i class="glyphicon glyphicon-plus"></i></a>
                </li>-->
            </ul>
        </div>
    </div>

    <div class="hh-form-conf" style="padding-left: 30px;" data-ng-show="naytaLista">
        <ul>
            <li data-ng-repeat="priorisointiRyhma in priorisointiRyhmat" class="hh-hakukohde">
                <priorisoiva-hakukohde-ryhma-info priorisointi-ryhma="priorisointiRyhma"  ></priorisoiva-hakukohde-ryhma-info>
            </li>
        </ul>
    </div>
</div>