<div>
    <div class="hh-list-h3"><i data-ng-class="{'hh-icon-right':!naytaLista, 'hh-icon-down':naytaLista}" data-ng-click="toggleLista()" ></i>

    <a data-ng-click="toggleLista()"> {{ otsikko }}
        <span data-ng-if="hakukohdeInfo.tarjoajaNimet" >: {{ hakukohdeInfo i18n:'tarjoajaNimet':userLang }}</span>
        <span data-ng-if="hakukohdeInfo.tyypit" >: {{ hakukohdeInfo.tyypit[0] }}</span>
        <span data-ng-show="naytaMaara">({{maara}})</span>
    </a>
        <div class="dropdown pull-right">
            <a class="dropdown-toggle">
                <i class="hh-icon-menu"></i>
            </a>
            <ul class="dropdown-menu">
                <li data-ng-click="addQuestion(theme)">
                    <a> {{ t('lisaa.uusi.kysymys') || 'Lisää uusi kysymys' }}
                        <i class="glyphicon glyphicon-plus"></i>
                    </a>
                </li>
                <li data-ng-click="showAllQuestions()">
                    <a>{{ t('nayta.piilota.kysymykset') || 'Näytä/piilota kysymykset'}}
                        <i class="glyphicon glyphicon-resize-vertical"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>