<div>
    <label data-ng-click="addCheckbox(question)">{{ t('lisaa.valintalaatikko') || 'Lisää valintaruutu' }} </label>
    <i class="glyphicon glyphicon-plus" data-ng-click="addCheckbox(question)"></i>
    <div ng-repeat="option in question.options">
        <div class="form-group" ng-form="kysymyscheckbox{{language.id}}">
            <label> {{ t('valintalaatikko') || 'Valintaruutu' }} {{$index +1}} * </label>
            <i ng-show="question.options.length >1" class="glyphicon glyphicon-trash"  data-ng-click="removeCheckbox($index, question)"> </i>
            <span ng-show="kysymyscheckboxfi.valintaruutu.$error.required && kysymys.$dirty" style="color: red;">{{ t('pakollinen') || 'Pakollinen' }}</span>
            <input name="valintaruutu" type="text" data-ng-model="question.options[$index].optionText.translations[language.id]" class="form-control" ng-required="requiredByFiLang(language.id)">
        </div>
    </div>
</div>