<form role="form" class="form-horizontal" name="organisaatioValinta">
    <div class="modal-header">
        <h4 tl="valitse.hakukohde.hakukohdejoukko">Valitse hakukohde tai hakukohdejoukko</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-info">
            <i class="icon-info-sign"></i>{{ t('hakukohdekohtaista.lisakysymyksia.hakuun') || 'Olet luomassa hakukohdekohtaista lisäkysymyksiä hakuun' }}<b>{{applicationSystemForm | i18n:'name'}}</b>
        </div>
        <p>
            {{ t('etsi.hakukohde.lisakysymyksille') || 'Etsi oikea hakukohde johon haluat tehdä lisäkysymyksiä ja paina Jatka.' }}
        </p>
        <label class="control-label">{{ t('hae.toimipistetta.opetuspistetta') || 'Hae toimipistettä tai opetuspistettä nimellä' }}</label>
        <div class="input-group">
            <span class="input-group-addon" ><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" data-ng-model="queryParameters.term">
        </div>
        <div class="from-group">
            <accordion data-ng-repeat="applicationOption in applicationOptions | filter:queryParameters.term">
                <accordion-group is-open="">
                    <accordion-heading>
                        <i class="glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen }"></i>
                        {{ applicationOption.nimi.fi || applicationOption.nimi.sv }}
                    </accordion-heading>
                    <table class="table table-striped table-hover" >
                        <tr data-ng-repeat="hakukohde in applicationOption.tulokset">

                            <td ng-if="hakukohde.nimi.fi !== undefined"> {{ hakukohde.nimi.fi  }}</td>
                            <td ng-if="hakukohde.nimi.fi === undefined"> {{ hakukohde.nimi.sv  }}</td>
                            <td>
                                <button class="btn btn-primary pull-right" ng-click="jatka(hakukohde)" tl="jatka">Jatka</button>
                            </td>
                        </tr>
                    </table>
                </accordion-group>
            </accordion>
        </div>

        <div class="alert alert-info" data-ng-if="applicationOptions.length == 0 && organisaatioValinta.organisaatio.$dirty">
            <i class="icon-info-sign"></i> {{ t('organisaatiossa.ei.hakukohdetta.hakukohdejoukko') || 'Valitusta organisaatiosta ei löytynyt yhtään hakukohdetta tai hakukohdejoukkoa' }} </b>

        </div>
    </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning pull-left" ng-click="cancel()" tl="peruuta">Peruuta</button>

    </div>
</form>