<div class="modal-header">
    <h4>Valitse hakukohde tai hakukohdejoukko</h4>
</div>
<div class="modal-body">
    <div class="alert alert-info">
        <i class="icon-info-sign"></i>Olet luomassa hakukohdekohtaista lisäkysymyksiä hakuun <b>{{applicationSystem | i18n:'name'}}</b>
    </div>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisci elit, sed eiusmod tempor incidunt ut labore et dolore magna
        aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi
        consequat. Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint obcaecat cupiditat non proident, sunt in culpa qui officia deserunt mollit anim id est
        laborum.
    </p>

    <form role="form" class="form-horizontal">
        <label class="control-label">Hae hakukohteen, hakukohdejoukon tai organisaation nimellä</label>
        <div class="input-group">
            <span class="input-group-addon" ><span class="glyphicon glyphicon-search"></span></span>
            <input type="text" class="form-control" data-ng-model="queryParameters.term">
        </div>
        <button type="reset" class="btn btn-secondary" data-ng-click="reset()" data-ng-controller="BackCtrl">Tyhjennä
        </button>
        <button type="button=" class="btn btn-primary" data-ng-click="search()">hae</button>
    </form>
    <table class="table table-striped table-hover">
        <tr ng-repeat="applicationOption in applicationOptions">
            <td><input type="radio" data-ng-model="$parent.applicationOption" data-ng-value="applicationOption" name="applicationOption"></td>
            <td>{{applicationOption | i18n:'name'}}</td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-secondary pull-left" ng-click="cancel()">Peruuta</button>
    <button class="btn btn-primary pull-right" ng-click="ok()" ng-disabled="selections.length < 1">Jatka</button>
</div>