<form role="form" name="kysymys" class="form-horizontal col-md-10" >
    <!--<div class="form-group">
        <button class="btn" data-ng-click="back()"> <i class="glyphicon glyphicon-arrow-left"></i> </button>
        <button class="btn btn-primary" data-ng-click="tallennaUusi()" data-ng-show="!editFlag" tl="tallenna">Tallenna</button>
        <button class="btn btn-primary" data-ng-click="tallennaMuokkaus()"data-ng-show="editFlag" tl="tallenna">Tallenna</button>
        &lt;!&ndash;<button class="btn" data-ng-click="esikatselu()" data-ng-disabled="preview || devFlag">Kieliversioiden esikatselu</button>&ndash;&gt;
        <button class="btn" data-ng-click="poistaKysymys()"data-ng-show="editFlag" tl="poista">Poista</button>
    </div>-->

    <div class="form-group alert alert-info" data-ng-hide="editFlag">
        <i class="glyphicon glyphicon-info-sign"></i>
        {{ t('hakukohdekohtaista.lisakysymyksia.hakuun') || 'Olet luomassa hakukohdekohtaista lisäkysymyksiä haun' }} <b>{{applicationSystem | i18n:'name'}}</b>
        {{ t('hakukohteen') || 'hakukohteen' }} <b>{{ hakukohde | hakukohdeNimi:userLang }}</b>
        {{ t('teemaan') || 'teemaan' }} <b>{{ theme | i18n:'name':userLang }}</b>
        {{ t('tyyppia') ||  'tyyppiä' }} <b>{{questionType | i18n:'name':userLang}}</b>

    </div>

    <div class="form-group alert alert-info" data-ng-hide="!editFlag">
        <i class="glyphicon glyphicon-info-sign"></i>
        {{ t('muokkaa.hakukohdekohtaista.lisakysymyksia.hakuun') || 'Olet muokkaamassa hakukohdekohtaista lisäkysymystä haun' }} <b>{{applicationSystem | i18n:'name'}}</b>
        {{ t('hakukohteen') || 'hakukohteen' }} <b>{{ hakukohde | hakukohdeNimi:userLang }}</b>
        {{ t('teemaan') || 'teemaan' }} <b>{{ theme | i18n:'name':userLang }}</b>
        {{ t('tyyppia') ||  'tyyppiä' }} <b>{{questionType | i18n:'name':userLang}}</b>
    </div>

    <div data-ng-include="'partials/elements/new.html'"></div>

    <!--<div class="form-group">
        <button class="btn" data-ng-click="back()"> <i class="glyphicon glyphicon-arrow-left"></i> </button>
        <button class="btn btn-primary" data-ng-click="tallennaUusi()" data-ng-show="!editFlag" tl="tallenna">Tallenna</button>
        <button class="btn btn-primary" data-ng-click="tallennaMuokkaus()"data-ng-show="editFlag" tl="tallenna">Tallenna</button>
        &lt;!&ndash;<button class="btn" data-ng-click="esikatselu()" data-ng-disabled="preview || devFlag">Kieliversioiden esikatselu</button>&ndash;&gt;
        <button class="btn" data-ng-click="poistaKysymys()"data-ng-show="editFlag" tl="poista">Poista</button>
    </div>-->
</form>