<div class="modal-header">
    <h4>Lisää kysymys - Kysymystyypin valinta</h4>
</div>
<div class="modal-body">

    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label for="theme">Teema</label>
            <select class="form-control" id="theme" ng-model="theme" ng-options="a.name.translations.fi for a in themes">
                <option value="">-- Valitse teema --</option>
            </select>

        </div>

        <div class="form-group">
            <label for="type">Kysymystyyppi</label>
            <select class="form-control" id="type" ng-model="type" ng-options="a.name.translations.fi for a in types">
                <option value="">-- Valitse tyyppi --</option>
            </select>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-warning pull-left" ng-click="cancel()">Peruuta</button>
    <button class="btn btn-primary pull-right" ng-click="ok()" data-ng-disabled="!theme || !type">Jatka</button>
</div>