<form role="form" >
    <div class="form-group">
        <button class="btn" data-ng-click="back()"> <i class="glyphicon glyphicon-arrow-left"></i> </button>
        <button class="btn btn-primary" data-ng-click="tallennaUusi()" data-ng-show="!editFlag" tl="tallenna">Tallenna</button>
        <button class="btn btn-primary" data-ng-click="tallennaMuokkaus()"data-ng-show="editFlag" tl="tallenna">Tallenna</button>
        <!--<button class="btn" data-ng-click="esikatselu()" data-ng-disabled="preview || devFlag">Kieliversioiden esikatselu</button>-->
        <button class="btn" data-ng-click="poistaKysymys()"data-ng-show="editFlag" tl="poista">Poista</button>
    </div>

    <div class="alert alert-info" data-ng-hide="editFlag">
        <i class="glyphicon glyphicon-info-sign"></i> {{ t('luomassa.kysymysta.teemaan') || 'Olet luomassa uutta kysymystä teemaan' }}
        <b>{{ theme | i18n:'name':userLang }}</b> {{ t('tyyppia') ||  'tyyppiä' }} <b>{{questionType | i18n:'name':userLang}}</b>.
    </div>

    <div class="alert alert-info" data-ng-hide="!editFlag">
        <i class="glyphicon glyphicon-info-sign"></i> {{ t('muokkaamassa.kysymysta.teemaan') ||  'Olet muokkaamassa kysymystä teemaan' }}
        <b>{{ theme | i18n:'name':userLang }}</b> {{ t('tyyppia') ||  'tyyppiä' }} <b>{{questionType | i18n:'name':userLang}}</b>.
    </div>

    <div class="form-group" data-ng-include="'partials/elements/new.html'"></div>

    <div class="form-group">
        <button class="btn" data-ng-click="back()"> <i class="glyphicon glyphicon-arrow-left"></i> </button>
        <button class="btn btn-primary" data-ng-click="tallennaUusi()" data-ng-show="!editFlag" tl="tallenna">Tallenna</button>
        <button class="btn btn-primary" data-ng-click="tallennaMuokkaus()"data-ng-show="editFlag" tle="tallenna">Tallenna</button>
        <!--<button class="btn" data-ng-click="esikatselu()" data-ng-disabled="preview || devFlag">Kieliversioiden esikatselu</button>-->
        <button class="btn" data-ng-click="poistaKysymys()"data-ng-show="editFlag" tl="poista">Poista</button>
    </div>
</form>