<form role="form" name="$parent.liitepyyntoDialog" >
    <div class="modal-header">
        <h4 tl="liitepyynto">Liitepyyntö</h4>
    </div>

    <div class="modal-body">
        <div class="alert alert-info">
            <i class="glyphicon glyphicon-info-sign"></i> <span data-ng-bind-html="t('liitepyynto.hakukohteen.vastaukseen', ['{{ hakukohde | hakukohdeNimi:userLang }}', '{{ option | i18n:'optionText' }}' ])"></span>
        </div>

        <div>

            <tabset>
                <tab ng-repeat="language in languages | orderBy:'order':false " >
                    <tab-heading>{{ language | languageTab:userLang }}</tab-heading>
                    <div ng-form="liitepyyntotab{{language.id}}" style="background-color: #f5f5f5;">
                        <br>
                        <div class="form-group">
                            <label for="liitenimi">{{ t('liitteen.nimi') || 'Liitteen nimi *' }}
                                <span data-ng-show="liitepyyntotabfi.liitenimi.$error.required && tallennaClicked" class="label-warning-text">{{ t('pakollinen') || 'Pakollinen' }}</span>
                            </label>
                            <input name="liitenimi" type="text" class="form-control" data-ng-model="attachmentRequests.header.translations[language.id]" ng-required="requiredByFiLang(language.id)">
                        </div>
                        <div class="form-group">
                            <label for="liitteenkuvaus">{{ t('liitteen.kuvaus') || 'Kuvaus' }}</label>
                            <textarea name="liitteenkuvaus" class="form-control" data-ng-model="attachmentRequests.description.translations[language.id]" rows="4"></textarea>
                        </div>
                        <br>
                    </div>
                </tab>
            </tabset>

            <div class="form-group">
                <label>{{ t('toimitettava.menessa') || 'Toimitettava mennessä *' }}
                    <span data-ng-show="liitepyyntoDialog.liitteenpalautuspvm.$error.required && tallennaClicked" class="label-warning-text">{{ t('pakollinen') || 'Pakollinen' }}</span>
                    <span data-ng-show="liitepyyntoDialog.liitteenpalautuspvm.$error.date && tallennaClicked" class="label-warning-text">{{ t('pvm.format') || 'päivämäärän muoto pp.kk.yyyy' }}</span>
                    <span data-ng-show="liitepyyntoDialog.liitteenpalautuspvm.$error.checkday && tallennaClicked" class="label-warning-text">{{ t('pvm.check.day') || 'tarkista antamasi päivä' }}</span>
                    <span data-ng-show="liitepyyntoDialog.liitteenpalautuspvm.$error.checkmonth && tallennaClicked" class="label-warning-text">{{ t('pvm.check.month') || 'tarkista antamasi kuukausi' }}</span>
                    <span data-ng-show="liitepyyntoDialog.liitteenpalautuspvm.$error.checkyear && tallennaClicked" class="label-warning-text">{{ t('pvm.check.year') || 'tarkista antamasi vuosi' }}</span>
                    <span data-ng-show="liitepyyntoDialog.liitteenpalautuspvm.$error.maxdate" class="label-warning-text">{{ t('pvm.check.plus.year') || 'annettu pvm. enemmän kuin vuosi eteenpäin tästäpäivästä' }} </span>
                    <span data-ng-show="liitepyyntoDialog.liitteenpalautuspvm.$error.mindate" class="label-warning-text">{{ t('pvm.check.toosmall.date') || 'annettu pvm. pienempi kuin tämäpäivä' }}</span>
                    <span data-ng-show="liitepyyntoDialog.liitteenpalautusklo.$error.pattern && tallennaClicked" class="label-warning-text">{{ t('klo.check.format') || 'tarkista antamasi kellonaika' }} </span>
                </label>

                <div>
                    {{ t('pvm') || 'pvm.'}}
                    <input
                           datepicker-fix
                           name="liitteenpalautuspvm"
                           type="text"
                           datepicker-popup="dd.MM.yyyy"
                           data-ng-model="attachmentRequests.deliveryDue"
                           datepicker-options="{'starting-day':1}"
                           ng-required="true"
                           current-text="{{t('datepicker.today')}}"
                           toggle-weeks-text="{{t('datepicker.weeks')}}"
                           clear-text="{{t('datepicker.clear')}}"
                           close-text="{{t('datepicker.close')}}"
                           min="tanaan"
                           max="vuosi"
                           style="width:110px; height: 34px; font-size: 14px;"
                           >
                    <i class="glyphicon glyphicon-calendar glyphicon-inside-input-right"></i>
                        &nbsp;&nbsp;
                    {{ t('klo') || 'klo' }} <input
                        name="liitteenpalautusklo"
                        type="text"
                        data-ng-model="liite.toimitusAika"
                        data-ng-change="setKellonaikaToDate()"
                        placeholder="--:--"
                        ng-pattern="/^(([0-1][0-9])|([2][0-3]))[:]([0-5][0-9])$/"
                        style="width: 70px; height: 34px; font-size: 14px;" >
                    <i class="glyphicon glyphicon-time glyphicon-inside-input-right" ></i>
                </div>
            </div>

            <div class="form-group" >
                <label>{{ t('liitteen.toimitusosoite') || 'Liitteen toimitusosoite' }} </label>
                <div class="radio">
                    <label>
                        <input type="radio" data-ng-click="liiteidenToimitusOsoite(0)" value="0" ng-checked="toimitusosoiteFlag">
                        {{ t('organisaation.hakijapalveluiden.osoite') || 'Käytetään koulutuksen järjestävän organisaation hakijapalveluiden postiosoitetta' }}
                    </label>
                </div>

                <div class="radio">
                    <label>
                        <input type="radio" data-ng-click="liiteidenToimitusOsoite(1)" value="1" ng-checked="!toimitusosoiteFlag">
                        {{ t('ryhman.osoite') || 'Käytetään ryhmän osoitetta' }}
                    </label>
                </div>
            </div>

            <div data-ng-if="toimitusosoiteFlag">
                <div class="form-group">
                    <label>{{ t('liitteen.osoite') || 'Osoite *' }}
                        <span data-ng-show="liitepyyntoDialog.osoite.$error.required && tallennaClicked" class="label-warning-text">{{ t('pakollinen') || 'Pakollinen' }}</span>
                    </label>
                    <input type="text" name="osoite" class="form-control" data-ng-model="attachmentRequests.deliveryAddress.street"  data-ng-required="true">
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label for="postinro" class="control-label">{{ t('liitteen.postinro') || 'Postinumero *' }}
                            <span data-ng-show="(attachmentRequests.deliveryAddress.postCode === undefined || liitepyyntoDialog.postinro.$error.required ) && tallennaClicked" class="label-warning-text">{{ t('pakollinen') || 'Pakollinen' }}</span>
                        </label>
                        <input type="text" name="postinro"  class="form-control"
                               data-ng-model="attachmentRequests.deliveryAddress.postCode" data-ng-required="true"
                               data-typeahead-on-select="setPostitoimipaikka()" data-typeahead-editable="false"
                               data-typeahead="posti.koodiArvo for posti in postiKoodit | filter:liitepyyntoDialog.postinro.$viewValue | limitTo:8 | orderBy:'koodiArvo' " >
                    </div>
                    <div class="col-md-8">
                        <label for="postitoimipaikka" class="control-label">{{ t('liitteen.postitmipka') || 'Postitoimipaikka *' }}
                            <span data-ng-show="liitepyyntoDialog.postitoimipaikka.$error.required && tallennaClicked" class="label-warning-text">{{ t('pakollinen') || 'Pakollinen' }}</span>
                        </label>
                        <input type="text" name="postitoimipaikka" class="form-control" data-ng-model="attachmentRequests.deliveryAddress.postOffice"
                               data-ng-required="true" ng-disabled="true" >
                    </div>
                </div>
                <br>
                <!--<div class="form-group">
                    <label>
                        <input type="checkbox" name="sahkoisetliitteet" data-ng-model="liitepyynto.sah">
                        {{ t('voidaan.toimittaa.sahkoisesti') || 'Voidaan toimittaa myös sähköisesti' }}
                    </label>
                </div>

                <div data-ng-show="liitepyynto.sah">
                    <div class="form-group">
                        <label>{{ t('sahkoposti.liitteille') || 'Sähköposti liitteiden toimittamiseen' }}</label>
                        <input type="text"  class="form-control">
                    </div>

                    <div class="form-group">
                        <label>{{ t('e.lataus.liitteille') || 'Liitetiedostojen e-lataus osoite' }}</label>
                        <input type="text"  class="form-control">
                    </div>
                </div>-->

            </div>
        </div>
        <alertmsg></alertmsg>


        <div class="modal-footer">
            <button class="btn btn-warning pull-left" ng-click="cancel()" tl="peruuta">Peruuta</button>
            <button class="btn btn-primary pull-right" ng-click="tallennaLiitepyynto(liitepyyntoDialog.$valid)" tl="tallenna">Tallenne</button>
        </div>

        <div data-ng-if="logs">
            valid: {{liitepyyntoDialog.$valid}}<br>
            <pre>{{attachmentRequests | without | json}}</pre>
        </div>
</form>