<form role="form" name="liitepyynto">
    <div class="modal-header">
        <h4 tl="liitepyynto">Liitepyyntö</h4>
    </div>
    <div class="modal-body">
        <div class="alert alert-info">
            <i class="glyphicon glyphicon-info-sign"></i> <span data-ng-bind-html="t('liitepyynto.hakukohteen.vastaukseen', ['{{ hakukohde | hakukohdeNimi:userLang }}', '{{ option | i18n:'optionText' }}' ])"></span>
        </div>

        <div>

            <tabset>
                <tab ng-repeat="language in languages | orderBy:'order':false " >
                    <tab-heading>{{ language | languageTab:userLang }}</tab-heading>
                    <div ng-form="liitepyyntotab{{language.id}}" style="background-color: #f5f5f5; border-color: #ddd !important;">
                        <br>
                        <div class="form-group">
                            <label for="liitenimi">{{ t('liitteen.nimi') || 'Liitteen nimi *' }}</label>
                            <input name="liitenimi" type="text" class="form-control" >
                        </div>
                        <div class="form-group">
                            <label for="liitteenkuvaus">{{ t('liitteen.kuvaus') || 'Kuvaus' }}</label>
                            <textarea name="liitteenkuvaus" class="form-control" rows="4"></textarea>
                        </div>
                        <br>
                    </div>
                </tab>
            </tabset>

            <div class="form-group">

                <label>{{ t('toimitettava.menessa') || 'Toimitettava mennessä *' }}</label>
                <div>
                    {{ t('pvm') || 'pvm.'}} <input name="liitteenpalautuspvm" type="date">
                    {{ t('klo') || 'klo' }}  <input name="liitteenpalautusklo" type="time">
                </div>

            </div>

            <div class="form-group" >

                <label>{{ t('liitteen.toimitusosoite') || 'Liitteen toimitusosoite' }} </label>
                <div class="radio">
                    <label>
                        <input type="radio" id="toimitusosoitteeseen" data-ng-model="liitepyynto.toimitusosoite" value="0" checked >
                        {{ t('organisaation.hakijapalveluiden.osoite') || 'Käytetään koulutuksen järjestävän organisaation hakijapalveluiden postiosoitetta' }}
                    </label>
                </div>

                <div class="radio">
                    <label>
                        <input type="radio" id="toimitusryhma" data-ng-model="liitepyynto.toimitusosoite" value="1">
                        {{ t('ryhman.osoite') || 'Käytetään ryhmän osoitetta' }}
                    </label>
                </div>

                <div class="radio">
                    <label>
                        <input type="radio" id="toimitusmuu" name="toimitusmuu" data-ng-model="liitepyynto.toimitusosoite" value="2">
                        {{ t('muu.osoite') || 'Käytetään muuta osoitetta' }}
                    </label>
                </div>

            </div>
            {{liitepyynto.toimitusosoite ==='2'}}
            <div data-ng-show="liitepyynto.toimitusosoite ==='0' || liitepyynto.toimitusosoite === '2' ">
                <div class="form-group">
                    <label>{{ t('liitteen.osoite') || 'Osoite *' }}</label> {{liitepyynto.toimitusmuu}}
                    <input type="text"  class="form-control" data-ng-model="liitePyynto.osoite" data-ng-disabled="liitepyynto.toimitusmuu">
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label for="postinro" class="control-label">{{ t('liitteen.postinro') || 'Postinumero *' }}</label>
                        <input type="text" name="postinro"  class="form-control"  data-ng-model="liitePyynto.postinumero" data-ng-disabled="!liitepyynto.toimitusosoite ==='2'">
                    </div>
                    <div class="col-md-8">
                        <label for="postitoimipaikka" class="control-label">{{ t('liitteen.postitmipka') || 'Postitoimipaikka *' }}</label>
                        <input type="text" name="postitoimipaikka" class="form-control" data-ng-model="liitePyynto.postitoimipaikka" data-ng-disabled="!liitepyynto.toimitusosoite ==='2'">
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <label>
                        <input type="checkbox" name="sahkoisetliitteet" data-ng-model="liitepyynto.sah">
                        {{ t('voidaan.toimittaa.sahkoisesti') || 'Voidaan toimittaa myös sähköisesti' }}
                    </label>
                </div>

                <div data-ng-show="liitepyynto.sah">
                    <div class="form-group">
                        <label>{{ t('sahkoposti.liitteille') || 'Sähköposti liitteiden toimittamiseen' }}</label>
                        <input type="text"  class="form-control">
                    </div>

                    <div class="form-group">
                        <label>{{ t('e.lataus.liitteille') || 'Liitetiedostojen e-lataus osoite' }}</label>
                        <input type="text"  class="form-control">
                    </div>
                </div>

            </div>
        </div>
        <alertmsg></alertmsg>


        <div class="modal-footer">
            <button class="btn btn-warning pull-left" ng-click="cancel()" tl="peruuta">Peruuta</button>
            <button class="btn btn-primary pull-right" ng-click="tallennaLiitepyynto()" tl="tallenna">Tallenne</button>
        </div>
</form>