<form role="form" class="form-horizontal" name="organisaatioValinta">
    <div class="modal-header">
        <h4 tl="organisaation.valinta">Organisaation valinta</h4>

    </div>
    <div class="modal-body">
        <div class="alert alert-info">
            <i class="icon-info-sign"></i> {{ t('olet.luomassa.hakukohdekohtaisia.lisakysymyksia') || 'Olet luomassa hakukohdekohtaisia lisäkysymyksiä' }} <b>{{applicationSystemForm | i18n:'name'}}</b>
        </div>
        <div>
            <img class="pull-right" ng-show="loading" src="img/loader.gif" style="position: relative ;height: 26px; top: 26px; padding-right: 12px;" />
            <div class="input-group">
                <label for="organisation" >{{ t('valitse.organisaatio') || 'Valitse organisaatio' }} </label>
                <select class="form-control" name="organisaatio" id="organisation" ng-model="organisation" ng-options="org.name.translations.fi || org.name.translations.sv for org in organisations" data-ng-change="selectedOrganisation()" >
                    <option value="" >-- {{ t('valitse.organisaatio') || 'Valitse organisaatio' }} --</option>
                </select>
            </div>
        </div>

    <div class="modal-footer">
        <button class="btn btn-warning pull-left" ng-click="cancel()" tl="peruuta">Peruuta</button>
        <button class="btn btn-primary pull-right" ng-click="jatka()" data-ng-disabled="!organisation" tl="jatka">Jatka</button>
    </div>
</form>