<form role="form">
    <div class="modal-header">
        <h4>{{t('poista.kysymys')||'Poista kysymys'}}</h4>
    </div>

    <div class="modal-body">
        <div>
            {{t('poista.kysymys')||'Poista kysymys'}}:
            {{ question.messageText | kysymysOtsikko:'translations':userLang}}

        </div>
    </div>

    <div class="modal-footer">
        <div class="form-group pull-right">
            <button class="btn " ng-click="cancel()" tl="peruuta"></button>
            <button class="btn btn-primary" ng-click="poista()" tl="ok"></button>
        </div>
        <alertmsg></alertmsg>
    </div>
</form>
