<div modal="modalVisible" close="close()">
    <div class="modal-header">
        <h4>{{'sort-questions-header' | i18next}}</h4>
    </div>

    <div class="modal-body">
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label for="theme">Teema</label>
                <select class="form-control" id="theme" ng-model="theme" data-ng-change="teemaValittu()"
                        ng-options="a.name.translations.fi for a in themes">
                    <option value="">-- Valitse teema --</option>
                </select>
            </div>
        </form>
        <div>
            <button class="btn" ng-click="up()" data-ng-disabled="first" >Ylös</button>
            <button class="btn" ng-click="down()" data-ng-disabled="last">Alas</button>
        </div>
        <table class="table table-hover">
            <tr ng-repeat="additionalQuestion in additionalQuestions" data-ng-click="select()" data-ng-class="{info: additionalQuestion == $parent.additionalQuestion}">
                <td>{{additionalQuestion.name.translations.fi}}</td>
            </tr>
        </table>


    </div>

    <div class="modal-footer">
        <button class="btn btn-primary pull-left" ng-click="cancel()" >Peruuta</button>
        <button class="btn btn-warning pull-right" ng-click="ok()">Valmis</button>
    </div>
</div>