<div class="alert alert-info alert-block ">
    <i class="glyphicon glyphicon-info-sign"></i>
    <span data-ng-bind-html="t('olet.luomassa.lisakysymys.organisaatiolla', [ haunNimi, organisationNimi])"></span>
</div>
<alertmsg></alertmsg>

<lisakysymys-lista-napit></lisakysymys-lista-napit>

<h3 class="text-info" tl="hakukohdekohtaiset.lisakysymykset" >Hakukohdekohtaiset lisäkysymykset</h3>

<!--<tabset>
    <tab heading="{{ t('lisakysymykset.teemakohtaisesti')|| 'Teemakohtaisesti' }}">-->

        <br>
        <hr>
        <ng-include src="'partials/lisakysymykset/lisakysymyslista-teemakohtaisesti.html'"/>
    <!--</tab>
    <tab heading="{{ t('lisakysymykset.hakukohdekohtaisesti') || 'Hakukohdekohtaisesti' }}">
        <br>
        <ng-include src="'partials/lisakysymykset/lisakysymyslista-hakukohdekohtaisesti.html'"/>
    </tab>
</tabset>
<br>-->
<lisakysymys-lista-napit></lisakysymys-lista-napit>

