<tabset>
    <tab ng-repeat="language in languages">
        <tab-heading>{{language.name[lang]}}</tab-heading>
        <div class="control-group">
            <label class="control-label">Kysymyksen otsikko</label>

            <div class="controls">
                <input type="text" data-ng-model="question.title[language.id]">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Ohje- tai infoteksti</label>

            <div class="controls">
                <input type="text" data-ng-model="question.help[language.id]">
            </div>
        </div>
    </tab>
</tabset>