<tabset>
    <tab ng-repeat="language in languages">
        <tab-heading>{{language.name[lang]}}</tab-heading>

        <hh-inputtext data-ng-model="question.title[language.id]" label="question-title"></hh-inputtext>

        <hh-inputtext data-ng-model="question.help[language.id]" label="question-help"></hh-inputtext>

        <hh-inputtext data-ng-model="question.additionalHelp[language.id]"
                      label="question-additional-help"></hh-inputtext>

        <hh-inputlink data-ng-model="question.link[language.id]" label="question-link"></hh-inputlink>

        <div class="control-group">
            <label class="control-label">Vastausvaihtoehdot</label>

            <div class="controls">
                <input type="text" data-ng-model="question.answers[language.id]">
            </div>
            <div class="controls">
                <label class="checkbox">
                    <input type="checkbox" data-ng-model="question.validators.required">Käytä vaihtoehtoa Muu, mikä?
                </label>
            </div>
        </div>
    </tab>
</tabset>
<hh-requiredfield></hh-requiredfield>
