<tabset>
    <tab ng-repeat="language in languages">
        <tab-heading>{{language.name[lang]}}</tab-heading>

        <hh-inputtext data-ng-model="question.title[language.id]" label="question-title"></hh-inputtext>
        <hh-inputtext data-ng-model="question.help[language.id]" label="question-help"></hh-inputtext>
        <hh-inputtext data-ng-model="question.additionalHelp[language.id]" label="question-additional-help"></hh-inputtext>
        <hh-inputlink data-ng-model="question.link[language.id]" label="question-link"></hh-inputlink>
    </tab>
</tabset>
<hr/>
<div class="control-group">
    <label class="control-label">Tekstikentän koko</label>

    <div class="controls">
        <input type="text" data-ng-model="question.length">
    </div>

    <div class="control-group">
        <div class="controls">
            <label class="radio">
                <input type="radio" data-ng-model="question.validators.format" value="numbers">Numeroita
            </label>
            <label class="radio">
                <input type="radio" data-ng-model="question.validators.format" value="numberAndAlphabet">Kirjaimia ja numeroita
            </label>
            <label class="radio">
                <input type="radio" data-ng-model="question.validators.format" value="characters">Kirjaimia, numeroita ja tavallisimpia erikoismerkkejä (-, !, ? &)
            </label>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" data-ng-model="question.validators.required">Kysymys on hakijalle pakollinen
            </label>
        </div>
    </div>

</div>